{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "max-len": [
          "error",
          {
            "code": 125
          }
        ]
      }
    }
  ]
}
